:root {
  --background: #fff;
  --primary-color: #0f1f31;
  --secondary-color: #fff;
  --grayText-color: #696969;
}
[data-theme="dark"] {
  --background: #292929;
  --primary-color: #0f1f31;
  --secondary-color: #fff;
  --grayText-color: #696969;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto";
}
